@import "../../../mixins";
@import "../../../variables";

.btn {
  @include transition_all;
  display: inline-block;
  background: transparent;
  min-width: 160px;
  padding: 18px 30px;
  margin: 0 auto;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  color: white;

  &:hover {
    opacity: 0.7;
    border-color: rgba(255,255,255, 0.7)!important;
  }
}

.hover--green {
  &:hover {
    opacity: 1;
    color: #0DFF92!important;
    border-color: #0DFF92!important;
  }
}

.btn--outline.black {
  border: 2px solid $black;
  color: $black;
}

.btn--outline.white {
  border: 2px solid $white;
  color: $white;
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-left: 15px;
    width: 25px;
    height: 25px;
  }
}

.button-wrap--align-left {
  justify-content: flex-end;
}

.button-wrap--align-right {
  justify-content: flex-start;
}

.btn--align-center {
  margin: 0 auto;
}