@import "../../../mixins";
@import "../../../variables";

.btn {
  @include transition_all;
  display: inline-block;
  background: transparent;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.btn--outline.black {
  border: 2px solid $black;
  color: $black;
}

.btn--outline.white {
  border: 2px solid $white;
  color: $white;
}