@import "../../../../mixins";

.list-trivia {
  padding-top: 50px;
}

.list-trivia__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  column-gap: 10px;
  row-gap: 10px;
}

.list-trivia__item {
  height: 100%;
}