//font-sizes
$font-size-h1: 48px;
$font-size-h2: 22px;
$font-size-h3: 18px;
$font-size-p: 18px;
$font-size-p-small: 14px;
$font-size-link-title: 18px;

//backgrounds
$main-background: #FFFFF0;
$trivia-item-background: #6c757d;

//colors
$black: #222222;
$white: #FFFFFF;
