@import "mixins";
@import "variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $main-background;
}

h1 {
  font-size: $font-size-h1;
  padding: 0;
  margin: 0;
}

p {
  font-size: $font-size-p;
}

.text {
  font-size: $font-size-p;

  &--sm {
    font-size: $font-size-p-small;
  }
  
}

a {
  text-decoration: none;
}

.row {
  @include flex-block;
}

.column {
  &--6 {
    width: 50%;
  }
}

.page-inner {
  @include inner;
}

.link {
  @include transition_all;
}

.underline {
  text-decoration: underline;
}